{% include 'layouts/default/page.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background-image: url("{% static 'truckerbg.jpg' %}");
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.shaded-box {
	font-size: 40pt;
	position: absolute;
	font-family: montserrat;
	background-color: rgba(0,0,0,.6);
	top: 75px; right: 0; bottom: 0; left: 0;
	text-align: left;
	min-height:100%;
	height:fit-content;
}
.button {
  display: block;
  border-radius: 15px;
  background-color: #349eeb;
  border: none;
  color: #40464a;
  text-shadow: 2px 2px 7px #2a2e30;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 75px;
  margin-left: 350px;
  height: 100px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: black;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.shaded-box h1 {
	font-size: 60px;
	color: #61a1cf;
	text-shadow: 2px 2px 5px #3d7ead;
	margin-top: 25px;
}

.shaded-box h2 {
	font-size: 40px;
	color: #61a1cf;
	text-shadow: 2px 2px 5px #3d7ead;
	margin-left: 25px;
}

.left {
	float: left;
	margin-left: 25px;
}

.right {
	float: right;
	margin-right: 25px;
}

.shaded-box hr {
	border-bottom: 2px solid #61a1cf;
	box-shadow: 2px 2px 5px #3d7ead;
	margin-left: 25px; margin-right: 25px;
}
.shaded-box table {

}

.shaded-box td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

.shaded-box th {
	font-size: 30px;
	background-color: #05850e;
	color: white;
	padding-right: 25px;
	padding-left: 10px;
}

.shaded-box tr:nth-child(even){background-color: #f2f2f2;}
.shaded-box tr:hover {background-color: #ddd;}

.shaded-box tr {
	font-size: 20px;
	background-color: white;
}

.shaded-box td {
	padding-left: 10px;
}
.left-table {
	float:left;
	margin-left:5%;
	width:25%;
	text-align:center;
}
.right-table {
	float:right;
	margin-right: 5%;
}
.tables::after {
	content:"";
	clear:both;
	display:table;
}
</style>
<div class="shaded-box">
	<div id="textbox">
		<h1 class="left" style="font-size:3vw;">Driver Home Page</h1>
		<h1 class="right" style="font-size:3vw;">Current Sponsor: {{request.user.sponsor}}</h1><br>
		<div style="clear: both;"></div>
		<h2 class="left" style="font-size:3vw;">Points: {{request.user.num_of_points}}</h1>
	</div>
	<div style="clear: both;"></div>
	<hr>
	<h1 style="text-align:center;">Alerts</h1>
	<table style="display:block;width:80%; margin-left:10%; margin-right:10%;max-height:300px;overflow-y:scroll;">
		<tr>
			<th style="width:15%;">Sender</th>
			<th style="width:60%;">Message</th>
			<th>Timestamp</th>
		<tr>
		{% for alert in alerts %}
			{% if alert.type == "points" and request.user.points_alerts %}
			<tr>
				<td>{{alert.sender}}</td>
				<td>{{alert.message}}</td>
				<td>{{alert.timestamp}}</td>
			</tr>
			{% elif alert.type == "order" and request.user.order_alerts %}
			<tr>
				<td>{{alert.sender}}</td>
				<td>{{alert.message}}</td>
				<td>{{alert.timestamp}}</td>
			</tr>
			{% elif alert.type == "order_issue" and request.user.order_issue_alerts %}
			<tr>
				<td>{{alert.sender}}</td>
				<td>{{alert.message}}</td>
				<td>{{alert.timestamp}}</td>
			</tr>
			{% elif alert.type != "points" and alert.type != "order" and alert.type != "order_issue" %}
			<tr>
				<td>{{alert.sender}}</td>
				<td>{{alert.message}}</td>
				<td>{{alert.timestamp}}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
	<hr>
	<div id="tables">
	<h2 class="left-table" style="margin-left:5%;text-align:center;">Your Sponsors:</h2>
	<h2 class="right-table" style="width:50%;margin-right:10%;text-align:center;">Point History:</h2>
	<table class="left-table">
		<tr>
			<th>Sponsor</th>
			<th>Points</th>
		</tr>
		{% for spon in my_sponsors %}
		<tr>
			<td>{{spon.sponsor.company_name}}</td>
			<td><div style="float:left">{{spon.points}}</div><div style="float:right"><a href="{% url 'accounts:driver_switch_sponsor' spon.sponsor.company_name %}">Select</a></div></td>
		</tr>
		{% endfor %}
	</table>
	<table class="right-table" style="display:block;width:50%;margin-right:10%;max-height:260px;overflow-y:scroll;">
		<tr>
			<th style="width:20%;">Awarded By</th>
			<th style="width:10%";># Points</th>
			<th style="width:50%";>Reason</th>
			<th style="width:20%";>Timestamp</th>
		</tr>
		{% for points in point_history %}
		<tr>
			<td>{{points.awarded_by}}</td>
			<td>{{points.num_points_awarded}}</td>
			<td>{{points.reason}}</td>
			<td>{{points.timestamp}}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div style="clear:both;"></div>
</div>

